.login {
  position: relative;
  padding: 16px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 14px;
}

.login_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
}

.login_container > h4 {
  color: #c9ced3;
  margin: 0;
}

.loginBtn {
  font-size: inherit;
  color: #949ea8;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.login_section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}