.classes {
  display: flex;
  align-items: end;
  width: 40%;
  /* justify-content: space-evenly; */
}

.classes > a {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 16px;
}

.active {
  color: red;
}
