.cardListGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.cardListRow {
  display: flex;
  flex-direction: column;
}

.newClassBtn {
  display: flex;
  justify-content: end;
  padding-top: 2rem;
}

@media screen {
}
