.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: start; */
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.11);
  padding: 2rem;
  text-align: left;
  background: #fff;
  min-height: 296px;
  border-radius: 2px;
  text-decoration: none;
}

.card_containerRow {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: start; */
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.11);
  padding: 2rem;
  text-align: left;
  background: #fff;
  margin-bottom: 16px;
  /* min-height: 296px; */
  border-radius: 2px;
  text-decoration: none;
}

.card_title {
  color: #323c46;
  /* font-family: Hind; */
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 218.182% */
  margin: 10px 0;
}

.card_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}

.card_date {
  color: #cacdd0;
  /* font-family: Hind; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  /* order:3; */
}

.card_dateOrdered {
  order: 3;
}

.card_description {
  color: #949ea8;
  /* font-family: Hind; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.card_active {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_activeRow {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card_active > button {
  width: 100px;
  border-radius: 4px;
  background: #22d486;
}

.card_joinBtn {
  border-radius: 4px;
  background: #22d486;
  width: 100px;
  height: 32px;
  border: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  letter-spacing: 1px;
  cursor: pointer;
}
